@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 70px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1em;
}

@media (max-width: 768px) {
  .header {
    font-size: 0.7em;
  }
}

.profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto 20px auto;
  width: 93%;
}

.profile_avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 293px;
  height: 300px;
  margin-right: 5%;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #FFF;
  background: url("../assets/images/avatar.jpg") no-repeat center/100%;
  background-clip: padding-box;
  border: solid 5px transparent;
  border-radius: 1em;
}

.profile_avatar:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  margin: -5px;
  border-radius: inherit;
  background: -webkit-gradient(linear, left top, right top, from(red), to(orange));
  background: linear-gradient(to right, red, orange);
}

.profile_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Montserrat', sans-serif;
}

.profile_info__name {
  font-size: 25px;
  font-weight: 600;
}

.profile_info__text {
  font-size: 20px;
  font-weight: 400;
}

@media (max-width: 600px) {
  .profile {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .profile_avatar {
    margin: 0;
  }
  .profile_info {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .profile_info__name {
    margin-bottom: 5px;
  }
}

.tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 100px;
}

.tasks_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  height: 40vh;
  margin: 20px auto 0 auto;
  padding: 0 20px;
  -webkit-box-shadow: 0px 3px 11px 0px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 3px 11px 0px rgba(34, 60, 80, 0.2);
  border-radius: 15px;
}

.tasks_item__image {
  margin: 0 8%;
  width: 200px;
  height: 200px;
}

.tasks_item__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
}

.tasks_item__wrapper .wrapper_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 0 50px 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 25px;
  font-weight: 600;
}

.tasks_item__wrapper .wrapper_title > a {
  color: black;
  text-align: center;
  text-decoration: none;
}

.tasks_item__wrapper .wrapper_title > a:hover {
  color: #ff8d0a;
}

.tasks_item__wrapper .wrapper_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.tasks_item__wrapper .wrapper_info__task {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.tasks_item__wrapper .wrapper_info__task > img {
  width: 120px;
  height: 120px;
}

.tasks_item__wrapper .wrapper_info__task > p {
  text-align: center;
  font-weight: 400;
}

.tasks_item__wrapper .wrapper_info__task:hover > p {
  color: #ff8d0a;
}

@media (max-width: 768px) {
  .tasks_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 90%;
    height: auto;
    padding: 20px 0;
  }
  .tasks_item__image {
    margin: 2% 0;
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 560px) {
  .tasks_item__wrapper .wrapper_title {
    font-size: 20px;
  }
  .tasks_item__wrapper .wrapper_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 400px) {
  .tasks_item__wrapper .wrapper_title {
    font-size: 19px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  padding: 0 3%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 70px;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #161414;
  color: white;
}

.footer > img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}

body {
  margin: 0;
}
/*# sourceMappingURL=main.css.map */